body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#firstPanel
{
    border-radius: 15px;
    background: rgba(183, 228, 240, 0.637);
    backdrop-filter: saturate(180%) blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

#picBox
{
    width: 100%;
    height: 200px;
}

#infoBox
{
    font-size: 25px;
}

#tempBox
{
    font-size: 25px;
}

#foreCast
{
    background-color: rgba(183, 228, 240, 0.637);
    backdrop-filter: saturate(180%) blur(10%);
    width: 98%;
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    box-sizing: border-box;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    font-size:medium;
}

#foreCast div
{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 100px;
    padding: 2px;
    text-align: center;
    margin: 0.1%;
    border-radius: 3%;
}

#foreCast img
{
    width: 50px;
    height: 50px;
}

.cityFinder
{
    padding: 5px;
}

@media (max-width: 768px)
{
    #foreCast
    {
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    #foreCast div
    {
        font-family: monospace;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100px;
        padding: 2px;
        margin: 0.1%;
        border-radius: 3%;
    }
}

